<div fxFlexFill fxLayoutAlign="center" fxLayout="space-between center">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ 'ECRAN.DROPZONE.TITRE' | translate }}</mat-card-title>
            <mat-card-subtitle>{{ 'ECRAN.DROPZONE.DESCRIPTION' | translate }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item *ngFor="let fileToUpload of files">
                    <mat-icon mat-list-icon>photo_library</mat-icon>
                    <mat-progress-bar [value]="fileToUpload.progress"></mat-progress-bar>
                    <h4 mat-line>{{fileToUpload.file.name}}</h4>
                    <p mat-line> {{fileToUpload.file.updated | date}} </p>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-actions>
            <div fxFlexFill fxLayoutAlign="center" fxLayout="space-between center">
                <button mat-button color="warn" (click)="onClick()">
                    <mat-icon>file_upload</mat-icon>
                    {{ 'ECRAN.FICHIER.SELECTIONNER' | translate }}
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
    <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*"
           style="display:none;"/>
</div>
