<div fxFlexFill fxLayoutAlign="center" fxLayout="space-between center">
    <ngx-image-gallery class="gallery" [images]="images" [conf]="conf" (onOpen)="galleryOpened($event)"
                       (onClose)="galleryClosed()" (onImageClicked)="galleryImageClicked($event)"
                       (onImageChange)="galleryImageChanged($event)"
                       (onDelete)="deleteImage($event)"></ngx-image-gallery>
</div>
