<div [ngClass]="{'articles-mobile': (isMobile$ | async), 'articles-laptop': (isMobile$ | async) === false}">
    <div class="articles-list">
        <app-recette-card *ngFor="let recette of recettes" [recette]=recette
                          [full]=false></app-recette-card>
    </div>
    <div class="button">
        <button mat-button [disabled]="offset === 0" color="primary" class="button"
                (click)="previousPage()">
            <mat-icon class="arrow">arrow_left</mat-icon>
        </button>
        <button mat-button [disabled]="!next" color="primary" class="button" (click)="nextPage()">
            <mat-icon class="arrow">arrow_right</mat-icon>
        </button>
    </div>
</div>
