.articles-laptop {
    display: flex;
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.articles-mobile {
    display: flex;
    max-width: 95vw;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.articles-list {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}

.arrow {
    font-size: 64px;
    width: 64px;
    height: 64px;
    line-height: 64px;
    color: lightpink;
}