<div [ngClass]="{'info-card-mobile': (isMobile$ | async), 'info-card-laptop': (isMobile$ | async) === false}">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="info-header-image"></div>
            <mat-card-title>Présentation</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>&nbsp;</p>
            <p>
                Je me suis mise à la pâtisserie il y a quelque temps pour limiter les
                gâteaux industriels à la maison que ce soit pour ma fille de 3 ans ou
                même pour nous. C'est vite devenue une passion. Bien sur cela me
                plaisait avant de pâtisser, de regarder toutes ces émissions qui nous
                font saliver mais là je suis carrément devenue addict .&nbsp;
            </p>
            <p>
                Découvrir de nouvelles recettes, appendre de nouvelles techniques,
                rater, rater encore puis enfin réussir de jolis gâteaux, de jolis
                desserts est presque devenu une obsession . &nbsp;Mon défi aujourd'hui
                est de sortir pour octobre 2020 , l'anniversaire de ma fille, un gâteau
                à la fois magnifique et très gourmand, quelque chose qui je l'espère lui
                laissera un précieux souvenir d'enfance.
            </p>
            <p>
                Aujourd’hui , je souhaite partager mes réussites avec vous et surtout
                les belles recettes que je découvre car la pâtisserie est avant pour moi
                une histoire de partage et d'échange.
            </p>
            <p>
                Egalement passionnée de photographie, j'ai plaisir à mettre en image mes
                réalisations pour vous faire saliver et vous donner envie de refaire ces
                recettes.&nbsp;
            </p>
            <p>
                N'hésitez pas à me contacter via mes réseaux sociaux sur <a
                    href="https://www.facebook.com/Cactusetchocolat73">Facebook</a> et
                <a href="https://www.instagram.com/cactusetchocolat/">Instagram</a> pour me montrer vos réalisations, me
                donner
                des idées de recettes, des astuces et surtout vos avis.
            </p>
            <p>A très bientôt!!!</p>
            <p>Marie - Cactus et Chocolat</p>
            <p>&nbsp;</p>
        </mat-card-content>
    </mat-card>
</div>
