.info-card-laptop {
    border-radius: 8px;
    display: flex;
    max-width: 75vw;
    margin: 10px auto;
    flex-direction: column;
}

.info-card-mobile {
    border-radius: 8px;
    display: flex;
    max-width: 95vw;
    margin: 10px auto;
    flex-direction: column;
}

.info-header-image {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/cactus-et-chocolat.appspot.com/o/galerie%2F67827117466.jpg?alt=media&token=543cbe93-9a58-4854-8c21-4820dda4d3b7');
    background-size: cover;
}
