<div fxFlexFill fxLayoutAlign="center" fxLayout="space-between center">
    <mat-card>
        <mat-card-content>
            <form class="form" [formGroup]="loginForm">

                <mat-form-field class="full-width">
                    <mat-label>{{ 'ECRAN.LOGIN.EMAIL' | translate }}</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>{{ 'ECRAN.LOGIN.PASSWORD' | translate }}</mat-label>
                    <input type="password" matInput formControlName="password">
                </mat-form-field>

                <div fxLayoutAlign="center" fxLayout="space-between center">
                    <mat-error *ngIf="loginForm.errors?.serverError">
                        {{ loginForm.errors?.serverError }}
                    </mat-error>
                </div>

                <div fxLayoutAlign="center" fxLayout="space-between center">
                    <button mat-button (click)=valider()>
                        {{ 'ECRAN.VALIDER' | translate }}
                    </button>

                    <button mat-button (click)=annuler()>
                        {{ 'ECRAN.ANNULER' | translate }}
                    </button>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
</div>
