.title-laptop {
    font-family: CookieChips;
    font-size: xx-large;
}

.title-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-mobile-ligne {
    font-family: CookieChips;
    font-size: large;
}

.button {
    font-size: large;
}

.credit {
    font-size: small;
    color: lightpink;
    background-color: white;
}

.sidenav-container {
    height: 100%;
    width: 100%;
}

.sidenav {
    width: 200px;
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.nav-list-top {
    display: flex;
    flex-direction: column;
    background-color: lightpink;
    color: white;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.toolbar {
    position: fixed;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    right: 0;
    left: 0;
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.router {
    margin-top: 100px;
}

.toolbar-row {
    height: 100px;
    justify-content: space-between;
    background-color: lightpink;
    color: white;
}

.menu-center {
    justify-content: center;
}
