<div fxFlexFill fxLayoutAlign="center" fxLayout="space-between center">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ 'ECRAN.AJOUTER.RECETTE' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="form" [formGroup]="ajouterRecetteForm">

                <mat-form-field class="full-width">
                    <mat-label>{{ 'ECRAN.ARTICLE.TITRE' | translate }}</mat-label>
                    <input matInput placeholder="Ex. Pizza" formControlName="titre">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>{{ 'ECRAN.ARTICLE.DESCRIPTION' | translate }}</mat-label>
                    <input matInput placeholder="Ex. Pizza Desc" formControlName="description">
                </mat-form-field>

                <ckeditor formControlName="texte" [(ngModel)]="model.editorData" [editor]="Editor"
                          [config]="editorConfig"></ckeditor>

                <div fxLayoutAlign="center" fxLayout="space-between center">
                    <button mat-button (click)=valider()>
                        {{ 'ECRAN.VALIDER' | translate }}
                    </button>

                    <button mat-button (click)=annuler()>
                        {{ 'ECRAN.ANNULER' | translate }}
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
