<div *ngIf="!!recette" class="recette-card" (click)="redirectRecette()" fxFlexFill fxLayoutAlign="center"
     fxLayout="space-between center">
    <mat-card [ngClass]="{'recette-card-open': full, 'recette-card-mini': !full}">
        <ng-container *ngIf="full; then thenTemplate; else elseTemplate"></ng-container>
        <ng-template #thenTemplate>
            <mat-card-header>
                <div mat-card-avatar class="recette-header-image"></div>
                <mat-card-title>{{recette.titre}}</mat-card-title>
                <button *ngIf="authentificationService.isLoggedIn()" mat-button (click)=openDialogEdit()>
                    <mat-icon>edit</mat-icon>
                </button>
                <mat-card-subtitle>{{recette.description}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div [innerHTML]="recette.texte"></div>
            </mat-card-content>
            <mat-card-actions class="recette-button-bar" *ngIf="full">
                <button class="recette-button" mat-button>
                    <mat-icon>thumb_up_alt</mat-icon>
                </button>
                <button class="recette-button" mat-button>
                    <mat-icon>share</mat-icon>
                </button>
            </mat-card-actions>
        </ng-template>
        <ng-template #elseTemplate>
            <mat-card-header>
                <div mat-card-avatar class="recette-header-image"></div>
                <mat-card-title>{{recette.titre}}</mat-card-title>
                <mat-card-subtitle><br></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <img class="image-card-mini" mat-card-image *ngIf="!!recette.image"
                     src="{{recette.image}}">
                <mat-card-subtitle>{{recette.description}}</mat-card-subtitle>
            </mat-card-content>
        </ng-template>

    </mat-card>
</div>
