.recette-card {
    margin-top: 10px;
    border-radius: 8px;
}

.recette-card-mini {
    margin: 10px;
    border-radius: 8px;
    max-width: 300px;
}

.image-card-mini {
    max-width: 300px;
    max-height: 200px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.recette-card-open {
    margin-bottom: 20px;
    border-radius: 8px;
    max-width: 85vw;
    height: 100%;
    resize: horizontal;
    overflow: auto;
}

:host >>> img {
    max-width: 75vw;
}

.recette-header-image {
    background-image: url('/assets/icons/cupcake.jpg');
    background-size: cover;
}

.recette-button-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.recette-button {
    border-radius: 4px;
    background-color: lightpink;
    color: white;
}
