<ng-container *ngIf="logged; then thenTemplate; else elseTemplate"></ng-container>
<ng-template #thenTemplate>
    <button mat-button (click)=logout()>
        <mat-icon>logout</mat-icon>
    </button>
    <button mat-button (click)=openDialogDropZone()>
        <mat-icon>file_upload</mat-icon>
    </button>
    <button mat-button (click)=openDialogAjouterRecette()>
        <mat-icon>cake</mat-icon>
    </button>
</ng-template>
<ng-template #elseTemplate>
    <button mat-button (click)=openDialogLogin()>
        <mat-icon>account_circle</mat-icon>
    </button>
</ng-template>




